/*----------BASE----------*/

body {
    background-color: white;
    font-family: 'Acme', sans-serif;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

.homepage {
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100vw;
}

.background-cover {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.top {
    margin: auto;
    width: 100%;
    padding: 10px;
    top: 40%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    margin: 0;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 2.5em;
}

.description {
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    margin: 0;
}

@media only screen and (min-width: 768px) {
   .title {
       font-size: 4em; 
    }
    .description {
       font-size: 1.5em; 
    }
}

@media (min-width: 992px) {
   .title {
       font-size: 5em; 
    }
    .description {
       font-size: 2em; 
    }
}


/*----------NAVBAR----------*/

.navbar-brand {
    color: #858585;
}

.navbar-brand:hover{
    color: white !important;
    background-color: #858585 !important;
}

.navbar {
    background-color: white;
    text-align: right;
}

.nav-link {
    color: #858585;
    font-size: 1em;  
}

.nav-link:hover{
    color: white !important;
    background-color: #858585 !important;
}

.navbar .navbar-collapse {
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

/*----------Common styles used----------*/

.button {
    background-color: white;
    color: #858585;
    border: 2px solid #858585;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 0px 5px;
}

.button-section-mid {
    text-align: center;
    margin: 20px 0px;
}

.button-section-end {
    text-align: right;
       margin: 20px 0px;
}

.page_headers {
    color: #858585;
    text-align: center;
    padding: 40px 0px 10px;
    width: 100%;
    margin: 0px auto;
}

.page-description {
    color: #858585;
    text-align:center;
    margin: 10px 0px 30px;
}

/*----------HOME----------*/

.home-section {
    text-align: center;
    padding: 30px 10px;
    color: #858585;
}

/*----------FLASH MESSAGES----------*/
.flash_message {
    text-align: center;
    width: 100%;
    margin: 20px 0px;
    color: white;
    padding: 10px;
    background-color: #858585;
}


/*----------FORMS----------*/

.form-section {
    margin: 20px auto;
    text-align: center;
}

.card {
    margin: auto;
    width: 90%;
    max-width: 450px;
    min-width: 290px !important;
}

.card-format {
    border: 3px solid #858585 !important;
}

.card-header {
    color: #858585;
    text-align: center;
    padding: 15px 30px;
    width: 100%;
    margin: 0px auto;
}

.form-format {
    margin: auto;
}

.form-check-label {
    padding: 5px;
}

.form-input {
    display: block;
    border-radius: 0.25rem;
    border: 3px solid #858585;
    padding:5px;
    margin: 10px auto;
    width: 90%;
    min-width: 200px;
    max-width: 350px;
}

.form-submit {
    color: #858585;
    border: 3px solid #858585;
    border-radius: 0.25rem;
    padding: 5px 15px;
    margin: 10px 0px;
}

.card-footer-format {
    color:#858585;
}

.form-link {
    color: #858585;
}

.form-link:hover {
    color: white;
    background-color: #858585;
}

/*----------POSTS----------*/

.posts {
    margin: 20px 10px 50px;
}
.post-box {
    border: 3px solid #858585;
    margin: -3px 0px;
    padding: 10px;
}

.post-help-header {
    text-align:center;
    color: #858585;
    padding: 10px;
    font-weight: bold;
    margin: 0;
}

.post-title {
    font-weight: bold;
    color: #858585;
    padding: 10px 0px;
    margin: 0px;
}

.post-date-location {
    color: #858585;
    text-align: right;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0px;
}

.post-description {
    color: #858585;
    margin: 0px;
    padding:  10px 0px;
}

.post-date {
    color: #858585;
    text-align: left;
    padding:  10px 0px;
    margin: 0px;
    font-weight: bold;
}

.post-location {
    color: #858585;
    text-align: right;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0px;
}

/*----------Filter and Search----------*/

.filter-search-box {
    text-align: center;
    border: 2px solid #858585;
    border-radius: 10px;
    padding: 10px;
}

.filter-header {
    color: #858585;
    text-align: center;
}

.search-section {
    text-align: center;
}

.location-section {
    text-align: center;
}

.finding-section {
    text-align: center;
}

.offering-section {
    text-align: center;
}

.sorting-section {
    text-align: center;
    margin: auto;
}

.filter-button-section {
    text-align: center;
    margin: auto;
}

.filter-input {
    width:70%
}