<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>Add a post</title>
{% endblock %} {% block content %}

<div class="row">
  <div class="col-sm-12 col-md-8 form-section">

    <!--Card-->
    <div class="card card-format">

      <!--Card Header-->
      <div class="card-header">
        <h2>Add a post</h2>
      </div>
      
      <!--Cars Body-->
      <div class="card-body">
        <form class="form-format" method="POST" action="{{url_for('add_a_post', username=session['user']) }}">
            <label class="radio-form-label">Are you offering or finding help: </label>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="type_of_help" value="offering" required />Offering
                </label>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="type_of_help" value="finding">Finding
                </label>
            </div>

            <input id="title" name="title" type="text" placeholder="Title:" class="validate form-input" pattern=".{5,}" title="Five or more characters" required/>
            <textarea class="form-input" name="description" rows="6" placeholder="Description:" pattern=".{5,}" title="Five or more characters" required></textarea>
            <button type="submit" class="form-submit">Submit <i class="fas fa-sign-in-alt"></i></button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
