<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>Covid Help UK</title>
{% endblock %}

{% block content %}       

<div class="home-section">
<h3>Lend a helping hand</h3>
<p>Local businesses and people can advertise ways they can help their local community 
where people can contact them for help</p>

<h3>Find a lending hand</h3> 
<p>Search up what help you can get around your local community or put a post up on what 
help you need.</p>

<h5>To add a post or reply to one you need to Sign In/Up</h5>

<div class="button-section">
    <a class="button" href="">Register</a>
    <a class="button" href="">Sign In</a>
</div>

<h5>If you want to see what help is out there</h5>
<div class="button-section">
<a class="button" href="">See all posts </a>
</div>

</div>
{% endblock %}