<!DOCTYPE html>
{% extends "base.html" %} {% block title %}
<title>View post</title>
{% endblock %} {% block content %}

<div class="row">
  <div class="col-sm-12 col-md-8 form-section">

    <!--Card-->
    <div class="card card-format">

      <!--Card Header-->
      <div class="card-header">
        <h2>{{ post.title }}</h2>
      </div>
      
      <!--Cars Body-->
      <div class="card-body post-format">
            {% if post.type_of_help == 'offering' %}
            <p class="bold">Lending a Helping Hand</p>
            {% else %}
            <p class="bold">Finding a helping hand</p>
            {% endif %}


            <p>{{- post.description -}}</p>

            <div class="row">
                <div class="col-6">{{ post.date_posted }}</div>
                <div class="col-6">{{ post.location }}</div>
            </div>
      </div>

        <div class="card-footer">
        <p>Respond to Post</p>
        <p>There Email is: {{ post.email }}</p>

        </div>

    </div>
  </div>
</div>

{% endblock %}
